pgp-key-harvester/exported/**
!README.md
pgp-key-fingerprint-list-generator/data/**
!README.md
pgp-fingerprint-wordlist-converter/io/**
!README.md
trustwords/output/**
!README.md
word-analysis/output/**
!README.md
a.out
